doctype html
html(lang='es')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      title Editar Registro
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Page level plugin CSS
      link(href='/public/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body#page-top.fixed-nav.sticky-footer.bg-dark
      // Navigation
      nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
         a.navbar-brand(href='/usuario/mis-cursos') Unison
         button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         #navbarResponsive.collapse.navbar-collapse
            ul#exampleAccordion.navbar-nav.navbar-sidenav
               li.nav-item(data-toggle='tooltip', data-placement='right', title='Mi Perfil')
                  a.nav-link(href='/usuario/mi-perfil')
                     i.fa.fa-fw.fa-user-o
                     span.nav-link-text Mi perfil
               li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                  a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseCursos', data-parent='#exampleAccordion')
                     i.fa.fa-fw.fa-book
                     span.nav-link-text Mis cursos
                  ul#collapseCursos.sidenav-second-level.collapse
                     li
                        a(href='/solicitud/crear-solicitud') Crear solicitud
               li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver Cursos')
                  a.nav-link(href='#')
                     i.fa.fa-fw.fa-book
                     span.nav-link-text Ver cursos
            ul.navbar-nav.sidenav-toggler
               li.nav-item
                  a#sidenavToggler.nav-link.text-center
                     i.fa.fa-fw.fa-angle-left
            ul.navbar-nav.ml-auto
               li.nav-item
                  a.nav-link(data-toggle='modal', data-target='#exampleModal')
                     i.fa.fa-fw.fa-sign-out
                     | Cerrar sesión
      .content-wrapper
         .container-fluid
            // Breadcrumbs
            ol.breadcrumb
               li.breadcrumb-item #{usuario.nombre} #{usuario.apellido}
               li.breadcrumb-item.active Editar solicitud de registro
            .card.mb-3
               .card-body
                  | Nota: El curriculum debera entregarse por separado.   
            // Example DataTables Card
            .card.card-register.mx-auto.mt-5
               .card-header Editar solicitud de registro
               .card-body
                  form(id='editForm' method='post', action='/solicitud/editar-registro/'+registro.idCurso)
                     if tipo == 3
                        .form-group
                           label(for='nombre') Nombre del Curso
                           input.form-control(name='nombre' type='text' value=''+registro.nombre+'' )
                        .form-group
                           .form-row
                              .col-md-6
                                 select.form-control()
                                    option(disabled='', selected='') División de Ciencias Exactas y Naturales

                              .col-md-6
                                 select.form-control(name='departamento')
                                    if registro.departamento == null
                                       option(disabled='', selected='') Seleccione el Departamento
                                       option() Departemento de Matemáticas
                                       option() Departamento de Física
                                       option() Departamento de Geología
                                    else if registro.departamento == 'Departemento de Matemáticas'
                                       option(disabled='') Seleccione el Departamento
                                       option(selected='') Departemento de Matemáticas
                                       option() Departamento de Física
                                       option() Departamento de Geología
                                    else if registro.departamento == 'Departamento de Física'
                                       option(disabled='') Seleccione el Departamento
                                       option() Departemento de Matemáticas
                                       option(selected='') Departamento de Física
                                       option() Departamento de Geología     
                                    else
                                       option(disabled='') Seleccione el Departamento
                                       option() Departemento de Matemáticas
                                       option() Departamento de Física
                                       option(selected='') Departamento de Geología

                        .form-group
                           label(for='caracter') Caracter
                           textarea.form-control(name='caracter', rows='1' ) #{registro.caracter}
                        .form-group 
                           label(for='objetivoGeneral') Objetivo General
                           textarea.form-control(name='objetivoGeneral', rows='5') #{registro.objetivoGeneral}
                        .form-group
                           label(for='objetivosEspecificos') Objetivos Específicos
                           textarea.form-control(name='objetivosEspecificos', rows='5') #{registro.objetivosEspecificos}
                        .form-group
                           label(for='contenidoSintetico') Contenido Sintético
                           textarea.form-control(name='contenidoSintetico', rows='5') #{registro.contenidoSintetico}
                        .form-group
                           label(for='formaEnsenanza') Forma de conducción del proceso enseñanza-aprendizaje
                           textarea.form-control(name='formaEnsenanza', rows='5') #{registro.formaEnsenanza}
                        .form-group
                           label(for='requisitosDeEvaluacion') Requisitos de Evaluación
                           textarea.form-control(name='requisitosDeEvaluacion', rows='5') #{registro.requisitosDeEvaluacion}
                        .form-group
                           label(for='bibliografia') Bibliografia
                           textarea.form-control(name='bibliografia', rows='5') #{registro.bibliografia}
                        .form-group
                           label(for='perfilAcademico') Perfil académico deseable del responsable de la materia
                           textarea.form-control(name='perfilAcademico', rows='5' ) #{registro.perfilAcademico}
                        .form-group
                           label(for='capacidadAutoFin') Capacidad de autofinanciamiento
                           textarea.form-control(name='capacidadAutoFin', rows='5')  #{registro.capacidadAutoFin}
                        .form-group
                           label(for='utilidad') Utilidad y oportunidad en función del programa
                           textarea.form-control(name='utilidad', rows='5') #{registro.utilidad}
                        .form-group
                           label(for='antecedentesAlumnos') Antecedentes o habilidades necesarias de los alumnos
                           textarea.form-control(name='antecedentesAlumnos', rows='5') #{registro.antecedentesAlumnos}
                        .form-group
                           label(for='duracion') Duración del programa (horas)
                           input.form-control(name='duracion' type='number' min='0' value=''+registro.duracion+'')
                        .form-group
                           .form-row
                              .col-md-6
                                 label(for='fechaInicio') Fecha inicio
                                 input.form-control(name='fechaInicio' type='date' value=''+registro.fechaInicio+'')
                              .col-md-6
                                 label(for='fechaFinal') Fecha terminación
                                 input.form-control(name='fechaFinal' type='date' value=''+registro.fechaFinal+'')
                        .form-group
                           .form-row
                              .col-md-6
                                 label(for='cupoMaximo') Cupo máximo
                                 input.form-control(name='cupoMaximo' type='number' value=''+registro.cupoMaximo+'')
                              .col-md-6
                                 label(for='cupoMinimo') Cupo mínimo
                                 input.form-control(name='cupoMinimo' type='number' value=''+registro.cupoMinimo+'')
                        .form-group
                           label(for='reqIdioma') Requisitos de idioma
                           textarea.form-control(name='reqIdioma', rows='3' ) #{registro.reqIdioma}
                        .form-group
                           label(for='infraestructuraNecesaria') Infraestructura necesaria para ofrecer el curso
                           textarea.form-control(name='infraestructuraNecesaria', rows='3') #{registro.infraestructuraNecesaria}
                        .form-group
                           label(for='cargoInstructor') Cargo del instructor
                           textarea.form-control(name='cargoInstructor', rows='3') #{registro.cargoInstructor}
                        .form-group
                           label(for='dependencia') Dependencia
                           textarea.form-control(name='dependencia', rows='3') #{registro.dependencia}
                        .form-group
                           label(for='telefono') Teléfono
                           textarea.form-control(name='telefono', rows='1') #{registro.telefono}
                        input.btn.btn-primary.btn-block(type='submit' value='Guardar') 
                     else
                        .form-group
                           label(for='nombre') Nombre del Curso
                           input.form-control(type='text' value=''+registro.nombre+'' disabled)
                        .form-group
                           label(for='caracter') Caracter
                           textarea.form-control(name='caracter', rows='1' ) #{registro.caracter}
                        .form-group 
                           label(for='objetivoGeneral') Objetivo General
                           textarea.form-control(name='objetivoGeneral', rows='5') #{registro.objetivoGeneral}
                        .form-group
                           label(for='objetivosEspecificos') Objetivos Específicos
                           textarea.form-control(name='objetivosEspecificos', rows='5') #{registro.objetivosEspecificos}
                        .form-group
                           label(for='contenidoSintetico') Contenido Sintético
                           textarea.form-control(name='contenidoSintetico', rows='5') #{registro.contenidoSintetico}
                        .form-group
                           label(for='formaEnsenanza') Forma de conducción del proceso enseñanza-aprendizaje
                           textarea.form-control(name='formaEnsenanza', rows='5') #{registro.formaEnsenanza}
                        .form-group
                           label(for='requisitosDeEvaluacion') Requisitos de Evaluación
                           textarea.form-control(name='requisitosDeEvaluacion', rows='5') #{registro.requisitosDeEvaluacion}
                        .form-group
                           label(for='bibliografia') Bibliografia
                           textarea.form-control(name='bibliografia', rows='5') #{registro.bibliografia}
                        .form-group
                           label(for='utilidad') Utilidad y oportunidad en función del programa
                           textarea.form-control(name='utilidad', rows='5') #{registro.utilidad}
                        .form-group
                           label(for='antecedentesAlumnos') Antecedentes o habilidades necesarias de los alumnos
                           textarea.form-control(name='antecedentesAlumnos', rows='5') #{registro.antecedentesAlumnos}
                        .form-group
                           label(for='duracion') Duración del programa (horas)
                           input.form-control(name='duracion' type='number' min='0' value=''+registro.duracion+'')
                        .form-group
                           .form-row
                              .col-md-6
                                 label(for='fechaInicio') Fecha inicio
                                 input.form-control(name='fechaInicio' type='date', value=registro.fechaInicio)
                              .col-md-6
                                 label(for='fechaFinal') Fecha terminación
                                 input.form-control(name='fechaFinal' type='date', value=registro.fechaFinal)
                        .form-group
                           .form-row
                              .col-md-6
                                 label(for='cupoMaximo') Cupo máximo
                                 input.form-control(name='cupoMaximo' type='number' value=''+registro.cupoMaximo+'')
                              .col-md-6
                                 label(for='cupoMinimo') Cupo mínimo
                                 input.form-control(name='cupoMinimo' type='number' value=''+registro.cupoMinimo+'')
                        .form-group
                           label(for='reqIdioma') Requisitos de idioma
                           textarea.form-control(name='reqIdioma', rows='3' ) #{registro.reqIdioma}
                        .form-group
                           label(for='infraestructuraNecesaria') Infraestructura necesaria para ofrecer el curso
                           textarea.form-control(name='infraestructuraNecesaria', rows='3') #{registro.infraestructuraNecesaria}
                        .form-group
                           label(for='cargoInstructor') Cargo del instructor
                           textarea.form-control(name='cargoInstructor', rows='3') #{registro.cargoInstructor}
                        .form-group
                           label(for='dependencia') Dependencia
                           textarea.form-control(name='dependencia', rows='3') #{registro.dependencia}
                        .form-group
                           label(for='telefono') Teléfono
                           textarea.form-control(name='telefono', rows='1') #{registro.telefono}
                        input.btn.btn-primary.btn-block(type='submit' value='Guardar') 

         // /.container-fluid
         // /.content-wrapper
         footer.sticky-footer
            .container
               .text-center
                  small Copyright © Your Website 2017
         // Scroll to Top Button
         a.scroll-to-top.rounded(href='#page-top')
            i.fa.fa-angle-up
         // editarModel
         #editarModel.modal(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
               .modal-content
                  .modal-header
                     h5.modal-title Editar registro
                     button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='true') ×
                  .modal-body
                     p Las modificaciones se han guardado correctamente.
                  .modal-footer
                     a.btn.btn-primary(href='/usuario/mis-cursos') Aceptar  
         // Logout Modal
         #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
               .modal-content
                  .modal-header
                     h5#exampleModalLabel.modal-title ¿Estas seguro?
                     button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                  .modal-body Selecciona cerrar sesión si realmente quieres salir.
                  .modal-footer
                     button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                     a.btn.btn-primary(href='/cuenta/logout') Cerrar sesión
         // Bootstrap core JavaScript
         script(src='/public/vendor/jquery/jquery.min.js')
         script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
         // Core plugin JavaScript
         script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
         // Page level plugin JavaScript
         script(src='/public/vendor/datatables/jquery.dataTables.js')
         script(src='/public/vendor/datatables/dataTables.bootstrap4.js')
         // Custom scripts for all pages
         script(src='/public/js/sb-admin.min.js')
         // Custom scripts for this page
         script(src='/public/js/sb-admin-datatables.min.js')
         script(src='/public/js/avisos/solicitud/editarRegistro.js')