doctype html
html(lang='es')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title Mis cursos
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Page level plugin CSS
      link(href='/public/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body#page-top.fixed-nav.sticky-footer.bg-dark
      // Navigation
      nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
         if usuario.tipo < 2
            a.navbar-brand(href='/usuario/mis-cursos') Unison
         else
            a.navbar-brand(href='/solicitud/ver-solicitudes') Unison
         button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         #navbarResponsive.collapse.navbar-collapse
            ul#exampleAccordion.navbar-nav.navbar-sidenav
               li.nav-item(data-toggle='tooltip', data-placement='right', title='Mi Perfil')
                  a.nav-link(href='/usuario/mi-perfil')
                     i.fa.fa-fw.fa-user-o
                     span.nav-link-text Mi perfil
               // tipo de usuario
               if usuario.tipo == 0
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                     a.nav-link(href='/usuario/mis-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Mis cursos
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver cursos')
                     a.nav-link(href='/usuario/ver-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Ver cursos
               else
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                     a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseCursos', data-parent='#exampleAccordion')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Mis cursos
                     ul#collapseCursos.sidenav-second-level.collapse
                        li
                           a(href='/solicitud/crear-solicitud') Crear solicitud
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver cursos')
                     a.nav-link(href='/usuario/ver-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Ver cursos
               
            ul.navbar-nav.sidenav-toggler
               li.nav-item
                  a#sidenavToggler.nav-link.text-center
                     i.fa.fa-fw.fa-angle-left
            ul.navbar-nav.ml-auto
               li.nav-item
                  a.nav-link(data-toggle='modal', data-target='#logoutModal')
                     i.fa.fa-fw.fa-sign-out
                     | Cerrar sesión
      .content-wrapper
         .container-fluid
            // Breadcrumbs
            ol.breadcrumb
               li.breadcrumb-item #{usuario.nombre} #{usuario.apellido}
               li.breadcrumb-item.active Mis cursos
            // Example DataTables Card
            .card.mb-3
               .card-header
                  i.fa.fa-table
                  |  Mis cursos
               .card-body
                  .table-responsive
                     table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                        thead
                           tr
                              th Nombre
                              th Responsable del curso
                              th Instructor
                              th Acción
                        tbody
                     
                           each curso in misCursos
                              tr
                                 td= curso.nombreC
                                 td= curso.nombreR
                                 td= curso.nombreI
                                 if curso.estado == 1 
                                    if curso.tipo == 3
                                       td
                                          a.btn.btn-success(style='margin: 10px 0px 10px 2px;' href='#' data-toggle='modal', data-target='#enviarModal'+curso.idCurso) Enviar registro
                                          a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href='/solicitud/editar-registro/'+curso.idCurso) Editar registro
                                          a.btn.btn-danger(style='margin: 10px 0px 10px 2px;' href='#' data-toggle='modal', data-target='#cancelarModal'+curso.idCurso) Cancelar registro
                                    else
                                       td
                                          a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href='/solicitud/editar-registro/'+curso.idCurso) Editar registro
                                 else if curso.estado == 2
                                    if curso.tipo == 3
                                       td
                                          button(style='margin: 10px 0px 10px 2px;' class='btn btn-success pdf '+curso.idCurso, type='button') Generar documentos
                                    else
                                       td Registro en proceso de evaluación
                                 else if curso.estado == 3
                                    if curso.fechaActual >= curso.fechaInicio
                                       if curso.tipo == 3
                                          if curso.nombreR == curso.nombreI
                                             td 
                                                a.btn.btn-danger(style='margin: 10px 0px 10px 2px;' href='#' data-toggle='modal', data-target='#cancelarCursoModal'+curso.idCurso) Cancelar curso
                                                a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/asistencia/"+curso.idCurso) Pasar lista
                                                if curso.fechaActual >= curso.fechaFinal 
                                                   a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/evaluacion-participantes/"+curso.idCurso) Evaluar participantes 
                                          else
                                             td 
                                                a.btn.btn-danger(style='margin: 10px 0px 10px 2px;' href='#' data-toggle='modal', data-target='#cancelarCursoModal'+curso.idCurso) Cancelar curso 
                                                if curso.fechaActual >= curso.fechaFinal 
                                                   a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/evaluacion-instructor/"+curso.idCurso) Evaluar instructor 

                                       else if curso.tipo == 2
                                          td 
                                             a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/asistencia/"+curso.idCurso) Pasar lista
                                             if curso.fechaActual >= curso.fechaFinal 
                                                a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/evaluacion-participantes/"+curso.idCurso) Evaluar participantes
                                       else
                                          if curso.fechaActual >= curso.fechaFinal 
                                             td 
                                                a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/evaluacion-instructor/"+curso.idCurso) Evaluar instructor
                                                a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href="/curso/evaluacion-curso/"+curso.idCurso) Evaluar curso
                                          else
                                             td Curso en proceso
                                    else if curso.tipo == 3
                                       td 
                                          a.btn.btn-danger(style='margin: 10px 0px 10px 2px;' href='#' data-toggle='modal', data-target='#cancelarCursoModal'+curso.idCurso) Cancelar curso 
                                    else
                                       td El curso no ha iniciado
                                 else if curso.estado == 4
                                    if curso.tipo == 3
                                       td
                                          a.btn.btn-success(style='margin: 10px 0px 10px 2px;' href='#' data-toggle='modal', data-target='#enviarInformeModal'+curso.idCurso) Enviar informe
                                          a.btn.btn-primary(style='margin: 10px 0px 10px 2px;' href='/informe/editar-informe/'+curso.idCurso) Editar informe
                                    else
                                       td Curso terminado
                                 else if curso.estado == 5
                                    if curso.tipo == 3
                                       td
                                          button(style='margin: 10px 0px 10px 2px;' class='btn btn-success pdf2 '+curso.idCurso, type='button') Generar documentos
                                    else
                                       tdCurso terminado
                                 else if curso.estado == 6 
                                    if curso.tipo == 3
                                       td
                                          button(style='margin: 10px 0px 10px 2px;' class='btn btn-success pdf3 '+curso.idCurso, type='button') Generar constancias
                                    else
                                       td Curso terminado
                                 else
                                    td Curso cancelado

         each curso in misCursos
            if curso.estado == 1 
               if curso.tipo == 3
                  // Enviar Solicitud Modal
                  .modal.fade(id='enviarModal'+curso.idCurso, tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                     .modal-dialog(role='document')
                        .modal-content
                           .modal-header
                              h5#exampleModalLabel.modal-title ¿Estas seguro?
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                 span(aria-hidden='true') ×
                           form(id='enviarForm'+curso.idCurso, method='post', action='/solicitud/enviar-registro/'+curso.idCurso)
                              .modal-body
                                 p ¿Estas seguro que quieres enviar la solicitud?
                              .modal-footer
                                 button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                                 button.btn.btn-primary(type='submit') Aceptar

                  // Cancelar Solicitud modal
                  .modal.fade(id='cancelarModal'+curso.idCurso,tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                     .modal-dialog(role='document')
                        .modal-content
                           .modal-header
                              h5#cancelarModalLabel.modal-title ¿Estas seguro?
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                 span(aria-hidden='true') ×
                           .modal-body Selecciona "Aceptar" si realmente quieres cancelar la solicitud.
                           .modal-footer
                              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                              a.btn.btn-primary(href='/solicitud/cancelar-registro/'+curso.idCurso) Aceptar
            
            else if curso.estado == 3
               if curso.tipo == 3
                  // cancelarCursoModal
                  .modal.fade(id='cancelarCursoModal'+curso.idCurso,tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                     .modal-dialog(role='document')
                        .modal-content
                           .modal-header
                              h5#cancelarModalLabel.modal-title ¿Estas seguro?
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                 span(aria-hidden='true') ×
                           form(method='post', action='/curso/cancelar/'+curso.idCurso)
                              .modal-body 
                                 p Selecciona "Aceptar" si realmente quieres cancelar el curso.
                                 label.col-form-label(for='razones') Razones:
                                 textarea.form-control(name='razones', rows='4')
                              .modal-footer
                                 button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                                 button.btn.btn-primary(type='submit') Aceptar
            else if curso.estado == 4
               if curso.tipo == 3
                  // Enviar informe Modal
                  .modal.fade(id='enviarInformeModal'+curso.idCurso, tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                     .modal-dialog(role='document')
                        .modal-content
                           .modal-header
                              h5#exampleModalLabel.modal-title ¿Estas seguro?
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                 span(aria-hidden='true') ×
                           form(method='post', action='/informe/enviar-informe/'+curso.idCurso)
                              .modal-body
                                 p ¿Estas seguro que quieres enviar el informe?
                              .modal-footer
                                 button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                                 button.btn.btn-primary(type='submit') Aceptar

         if enviarError
            // enviarErrorModal
            #enviarErrorModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
               .modal-dialog(role='document')
                  .modal-content
                     .modal-header
                        h5#exampleModalLabel.modal-title Aviso
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true') ×
                     .modal-body Hay campos sin llenar en la solicitud
                     .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar
         if enviarInformeError               
            // enviarInformeErrorModal
            #enviarInformeErrorModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
               .modal-dialog(role='document')
                  .modal-content
                     .modal-header
                        h5#exampleModalLabel.modal-title Aviso
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true') ×
                     .modal-body Hay campos sin llenar en el informe
                     .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar
         if enviarCorrecto
            // enviarCorrectoModal
            #enviarCorrectoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
               .modal-dialog(role='document')
                  .modal-content
                     .modal-header
                        h5#exampleModalLabel.modal-title Se ha completado la solicitud
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true') ×
                  
                     .modal-body 
                        h5 Los pasos a seguir son:
                        p 1. Imprimir los documentos generados por el sistema.
                        p 2. Presentar los documentos al Director de División.   
                        p 3. Esperar a que el H. Consejo Divisional evalúe el formato de registro del curso.
                     .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar
         if enviarInformeCorrecto
            // enviarInformeCorrectoModal
            #enviarInformeCorrectoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
               .modal-dialog(role='document')
                  .modal-content
                     .modal-header
                        h5#exampleModalLabel.modal-title Se ha completado el informe
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true') ×
                  
                     .modal-body 
                        h5 Los pasos a seguir son:
                        p 1. Imprimir los documentos generados por el sistema.
                        p 2. Presentar los documentos al Director de División.   
                        p 3. Esperar a que el H. Consejo Divisional evalúe el informe final del curso.
                     .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar
         if errorEvaluacion
            // errorEvaluacionModal
            #errorEvaluacionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
               .modal-dialog(role='document')
                  .modal-content
                     .modal-header
                        h5#exampleModalLabel.modal-title Aviso
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true') ×
                     .modal-body 
                        p Ya se ha evaluado
                     .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar
         if errorParticipantes  
            // errorParticipantesModal
            #errorParticipantesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
               .modal-dialog(role='document')
                  .modal-content
                     .modal-header
                        h5#exampleModalLabel.modal-title Aviso
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true') ×
                     .modal-body 
                        p El curso no cuenta con el mínimo de participantes requerido para iniciar
                     .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button', data-dismiss='modal') Aceptar

         // /.container-fluid
         // /.content-wrapper
         footer.sticky-footer
            .container
               .text-center
                  small Copyright © Your Website 2017
         // Scroll to Top Button
         a.scroll-to-top.rounded(href='#page-top')
            i.fa.fa-angle-up
         // Logout Modal
         #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
               .modal-content
                  .modal-header
                     h5#exampleModalLabel.modal-title ¿Estas seguro?
                     button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                  .modal-body Selecciona cerrar sesión si realmente quieres salir.
                  .modal-footer
                     button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                     a.btn.btn-primary(href='/cuenta/logout') Cerrar sesión
      // Bootstrap core JavaScript
      script(src='/public/vendor/jquery/jquery.min.js')
      script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Core plugin JavaScript
      script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
      // Page level plugin JavaScript
      script(src='/public/vendor/datatables/jquery.dataTables.js')
      script(src='/public/vendor/datatables/dataTables.bootstrap4.js')
      // Custom scripts for all pages
      script(src='/public/js/sb-admin.min.js')
      // Custom scripts for this page
      script(src='/public/js/sb-admin-datatables.min.js')
      script(src='/public/js/documentos/pdfmake.min.js')
      script(src='/public/js/documentos/vfs_fonts.js')
      script(src='/public/js/documentos/pdfs.js')
      if enviarError
         script.
            $('#enviarErrorModal').modal('show')
      if enviarCorrecto
         script.
            $('#enviarCorrectoModal').modal('show')
      if enviarInformeError
         script.
            $('#enviarInformeErrorModal').modal('show')
      if enviarInformeCorrecto
         script.
            $('#enviarInformeCorrectoModal').modal('show')
      if errorEvaluacion
         script.
            $('#errorEvaluacionModal').modal('show')
      if errorParticipantes
         script.
            $('#errorParticipantesModal').modal('show')