doctype html
html(lang='es')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title Evaluar participantes
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Page level plugin CSS
      link(href='/public/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body#page-top.fixed-nav.sticky-footer.bg-dark
      // Navigation
      nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
         a.navbar-brand(href='/usuario/mis-cursos') Unison
         button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         #navbarResponsive.collapse.navbar-collapse
            ul#exampleAccordion.navbar-nav.navbar-sidenav
               li.nav-item(data-toggle='tooltip', data-placement='right', title='Mi Perfil')
                  a.nav-link(href='/usuario/mi-perfil')
                     i.fa.fa-fw.fa-user-o
                     span.nav-link-text Mi perfil
               // tipo de usuario
               if usuario.tipo == 0
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                     a.nav-link(href='/usuario/mis-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Mis cursos
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver cursos')
                     a.nav-link(href='/usuario/ver-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Ver cursos
               else
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                     a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseCursos', data-parent='#exampleAccordion')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Mis cursos
                     ul#collapseCursos.sidenav-second-level.collapse
                        li
                           a(href='/solicitud/crear-solicitud') Crear solicitud
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver cursos')
                     a.nav-link(href='/usuario/ver-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Ver cursos
            ul.navbar-nav.sidenav-toggler
               li.nav-item
                  a#sidenavToggler.nav-link.text-center
                     i.fa.fa-fw.fa-angle-left
            ul.navbar-nav.ml-auto
               li.nav-item
                  a.nav-link(data-toggle='modal', data-target='#exampleModal')
                     i.fa.fa-fw.fa-sign-out
                     | Cerrar sesión
      .content-wrapper
         .container-fluid
            // Breadcrumbs
            ol.breadcrumb
               li.breadcrumb-item #{usuario.nombre} #{usuario.apellido}
               li.breadcrumb-item.active Evaluar participantes
            .card.mb-3
               .card-body
                  | Nota: Al esta evaluando a los participantes la decisión se ira guardando en tiempo real.
                  | Si se termina de evaluar a los participantes, se dará por hecho que se termino de evaluar y
                  | se concluirá el curso para continuar con el informe. Si el participantes no aprobó el curso se deberá reafirmarlo.
            // Example DataTables Card
            .card.mb-3
               .card-header
                  i.fa.fa-table
                  |  Evaluar participantes
               .card-body
                  .table-responsive
                     table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                        thead
                           tr
                              th Nombre
                              th Apellido
                              th Inasistencias
                              th Acción
                        tbody

                           each evaluacion in evaluaciones
                              tr
                                 td #{evaluacion.nombre} 
                                 td #{evaluacion.apellido}
                                 td #{evaluacion.inasistencia}
                                 td
                                    form(id='form'+evaluacion.idCurso+evaluacion.idUsuario, method='post', action='/curso/evaluacion-participantes/'+evaluacion.idCurso+'/'+evaluacion.idUsuario)
                                       if evaluacion.aprobo == '1'
                                          .form-check.form-check-inline
                                             label.form-check-label
                                                input(class='form-check-input radioA '+evaluacion.idCurso+' '+evaluacion.idUsuario, type='radio', name='aprobo', value='1',checked='')
                                                |  Aprobó
                                          .form-check.form-check-inline
                                             label.form-check-label
                                                input(class='form-check-input radioA '+evaluacion.idCurso+' '+evaluacion.idUsuario, type='radio', name='aprobo', value='0')
                                                |  No aprobó
                                       else
                                          .form-check.form-check-inline
                                             label.form-check-label
                                                input(class='form-check-input radioA '+evaluacion.idCurso+' '+evaluacion.idUsuario, type='radio', name='aprobo', value='1')
                                                |  Aprobó
                                          .form-check.form-check-inline
                                             label.form-check-label
                                                input(class='form-check-input radioA '+evaluacion.idCurso+' '+evaluacion.idUsuario, type='radio', name='aprobo', value='0', checked='')
                                                |  No aprobó
                           
         // /.container-fluid
         // /.content-wrapper
         footer.sticky-footer
            .container
               .text-center
                  small Copyright © Your Website 2017
         // Scroll to Top Button
         a.scroll-to-top.rounded(href='#page-top')
            i.fa.fa-angle-up
         // Logout Modal
         #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
               .modal-content
                  .modal-header
                     h5#exampleModalLabel.modal-title ¿Estas seguro?
                     button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                  .modal-body Selecciona cerrar sesión si realmente quieres salir.
                  .modal-footer
                     button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                     a.btn.btn-primary(href='/cuenta/logout') Cerrar sesión
         // Bootstrap core JavaScript
         script(src='/public/vendor/jquery/jquery.min.js')
         script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
         // Core plugin JavaScript
         script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
         // Page level plugin JavaScript
         script(src='/public/vendor/datatables/jquery.dataTables.js')
         script(src='/public/vendor/datatables/dataTables.bootstrap4.js')
         // Custom scripts for all pages
         script(src='/public/js/sb-admin.min.js')
         // Custom scripts for this page
         script(src='/public/js/sb-admin-datatables.min.js')
         script.
            $(document).ready(function(){  
               $(".radioA").click(function(){
                  var clases = $(this).attr("class");
                  var listaDeClases = clases.split(' ');
                  var idCurso = listaDeClases[2]
                  var idUsuario = listaDeClases[3]
                  obtenerMensaje(idCurso, idUsuario)
               });


            });

            function obtenerMensaje(idCurso, idUsuario) {
               var form = $("#form"+idCurso+idUsuario)
               $.ajax({
                  url: form.attr('action'),
                  type: 'POST',
                  data: form.serialize(),
                  success : function(data) {
                     console.log(data.msg, data.termino)
                     if(data.termino == 1) window.location.replace("/usuario/mis-cursos");
                  }
               });
            }