doctype html
html(lang='es')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title Ver curso
      // Bootstrap core CSS
      link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom fonts for this template
      link(href='/public/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      // Custom styles for this template
      link(href='/public/css/sb-admin.css', rel='stylesheet')
   body#page-top.fixed-nav.sticky-footer.bg-dark
      // Navigation
      nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
         a.navbar-brand(href='/usuario/mis-cursos') Unison
         button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         #navbarResponsive.collapse.navbar-collapse
            ul#exampleAccordion.navbar-nav.navbar-sidenav
               li.nav-item(data-toggle='tooltip', data-placement='right', title='Mi Perfil')
                  a.nav-link(href='/usuario/mi-perfil')
                     i.fa.fa-fw.fa-user-o
                     span.nav-link-text Mi perfil
               // tipo de usuario
               if usuario.tipo == 0
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                     a.nav-link(href='/usuario/mis-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Mis cursos
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver cursos')
                     a.nav-link(href='/usuario/ver-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Ver cursos
               else
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Mis cursos')
                     a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseCursos', data-parent='#exampleAccordion')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Mis cursos
                     ul#collapseCursos.sidenav-second-level.collapse
                        li
                           a(href='/solicitud/crear-solicitud') Crear solicitud
                  li.nav-item(data-toggle='tooltip', data-placement='right', title='Ver cursos')
                     a.nav-link(href='/usuario/ver-cursos')
                        i.fa.fa-fw.fa-book
                        span.nav-link-text Ver cursos
            ul.navbar-nav.sidenav-toggler
               li.nav-item
                  a#sidenavToggler.nav-link.text-center
                     i.fa.fa-fw.fa-angle-left
            ul.navbar-nav.ml-auto
               li.nav-item
                  a.nav-link(data-toggle='modal', data-target='#exampleModal')
                     i.fa.fa-fw.fa-sign-out
                     | Cerrar sesión
      .content-wrapper
         .container-fluid
            // Breadcrumbs
            ol.breadcrumb
               li.breadcrumb-item #{usuario.nombre} #{usuario.apellido}
               li.breadcrumb-item.active Ver curso
            // Example DataTables Card
            .card.card-register.mx-auto.mt-5
               .card-header Ver curso
               .card-body
                  .form-group
                     label(for='nombre') Nombre del curso
                     input.form-control(type='text', value=curso.nombre, disabled)
                  .form-group
                     label(for='nombreI') Instructor
                     input.form-control(type='text', value=curso.nombreI, disabled)
                  .form-group
                     .form-row
                        .col-md-6
                           select.form-control(disabled='')
                              option(selected='') División de Ciencias Exactas y Naturales
                        .col-md-6
                           select.form-control(disabled='')
                              if curso.departamento == 'Departamento de Matemáticas'
                                 option(selected='') Departamento de Matemáticas
                              else if curso.departamento == 'Departamento de Física'
                                 option(selected='') Departamento de Física
                              else
                                 option(selected='') Departamento de Geología
                  .form-group
                     label(for='contenidoSintetico') Contenido Sintético
                     textarea.form-control(rows='5', disabled='') #{curso.contenidoSintetico}
                  .form-group
                     label(for='requisitosDeEvaluacion') Requisitos de Evaluación
                     textarea.form-control(rows='5', disabled='') #{curso.requisitosDeEvaluacion}
                  .form-group
                     label(for='antecedentesAlumnos') Antecedentes o habilidades necesarias de los alumnos
                     textarea.form-control(rows='3', disabled='') #{curso.antecedentesAlumnos}
                  .form-group
                     label(for='cupos') Cupos restantes
                     input.form-control(type='number', value=curso.cupoMaximo-curso.numeroDeParticipantes, disabled='')
                  .form-group
                     label(for='horario') Horario
                     textarea.form-control(rows='3', disabled='') #{curso.horario}
                  a.btn.btn-primary.btn-block(href='#', data-toggle='modal', data-target='#inscribirseModal') Inscribirse

      // inscribirseModal
      .modal.fade(id='inscribirseModal',tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
         .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#cancelarModalLabel.modal-title ¿Estas seguro?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='true') ×
               form(method='post', action='/curso/inscribirse/'+curso.idCurso)
                  .modal-body 
                     p Selecciona "Aceptar" si realmente quieres inscribirte en el curso.
                  .modal-footer
                     button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                     button.btn.btn-primary(type='submit') Aceptar
      // /.container-fluid
      // /.content-wrapper
      footer.sticky-footer
         .container
            .text-center
               small Copyright © Your Website 2017
      // Scroll to Top Button
      a.scroll-to-top.rounded(href='#page-top')
         i.fa.fa-angle-up
      // Logout Modal
      #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
         .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#exampleModalLabel.modal-title ¿Estas seguro?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='true') ×
               .modal-body Selecciona cerrar sesión si realmente quieres salir.
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                  a.btn.btn-primary(href='/cuenta/logout') Cerrar sesión
      // Bootstrap core JavaScript
      script(src='/public/vendor/jquery/jquery.min.js')
      script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Core plugin JavaScript
      script(src='/public/vendor/jquery-easing/jquery.easing.min.js')
      // Custom scripts for all pages
      script(src='/public/js/sb-admin.min.js')
      